*{
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-desktop.svg');
    /* display: flex; */
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    padding: 0;
    margin: 0;
}

.ilustration {
    width: 90%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
}

.titulo {
    font-family: Poppins, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
    width: 600px
}

p {
    font-family: "Open sans", 'Times New Roman', Times, serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    width: 600px;
    /* margin: 0; */
}

.button {
    padding: 15px 50px;
    display: inline-block;
    cursor: pointer;
    color: mediumslateblue;
    border-radius: 25px;
    border: 1px solid;
    background: white;
    text-decoration: none;
}

.contact {
    justify-content: space-between;
}

.social {
   display: flex;
   justify-content: flex-end;
   margin-top: 3em;
   margin-right: 4em;
   margin-bottom: 5em;
    /* border: 5px solid white;
    justify-content: flex-end; */

}

.social-link {
    /* position: relative;
    right: -1500px; */
    display: inline-block;
    width: 35px;
    height: 35px;
    /* border: 5px solid red; */
    background-size: 35px 35px;
    margin: 0 10px;
    
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
    /* background-size: 50px 50px; */

}

.social-link.github {
    background-image: url('../images/github.svg');
    /* background-size: 50px 50px; */

}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
    /* background-size: 50px 50px; */

}

@media screen and (max-width: 1441px) {

 body {
  background-image: url('../images/bg-desktop.svg');
 }
 
}

@media screen and (max-width: 426px) {

 body {
    background-image: url('../images/bg-mobile.svg');
    /* display: block; */
 }

 .hero {
  display: block;
  text-align: center;
 }

 .title {
  display: flex;
  justify-content: center;
  margin: 0 auto;
 }

 .ilustration {
  width: 100%;
  margin-bottom: 20px;
 }

 .titulo {
  font-size: 2em;
  margin-bottom: 5px;
  width: 100%;
 }

 .parrafo {
  font-size: 1.2em;
  width: initial;
  margin: 5px 30px;
  /* width: 90%; */
 }

 .button {
  padding: 15px 100px;
  font-size: 1.2em;
  font-weight: bold;
  margin-top: 20px;
 }

 .social {
  margin: 0;
  justify-content: center;
 }

 .social-link {
  margin: 10px 20px;
  margin-top: 60px;
  margin-bottom: 30px;
  width: 45px;
  height: 45px;
  background: no-repeat;
  background-size: 45px 45px;
  
}