*{
    box-sizing: border-box;
}

body {
    background-image: url('../images/bg-desktop.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-color: hsl(257, 40%, 49%);
    padding: 0;
    margin: 0;
}

.ilustration {
    width: 90%;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px
}

.titulo {
    font-family: Poppins, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 40px;
    color: white;
}

p {
    font-family: "Open sans", 'Times New Roman', Times, serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
}

.button {
    padding: 15px 50px;
    display: inline-block;
    cursor: pointer;
    color: mediumslateblue;
    border-radius: 25px;
    border: 1px solid;
    background: white;
    text-decoration: none;
}

.contact {
    justify-content: space-between;
}

.social {
    /* border: 5px solid white;
    justify-content: flex-end; */

}

.social-link {
    position: relative;
    right: -1500px;
    display: inline-block;
    width: 35px;
    height: 35px;
    /* border: 5px solid red; */
    background-size: 35px 35px;
    margin: 0 10px;
    
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
    /* background-size: 50px 50px; */

}

.social-link.github {
    background-image: url('../images/github.svg');
    /* background-size: 50px 50px; */

}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
    /* background-size: 50px 50px; */

}

